{% set rankingmanual_products = repository('Plugin\\Rankingmanual4\\Entity\\RankingmanualProduct').getRankingmanualProduct %}
{% set config = repository('Plugin\\Rankingmanual4\\Entity\\RankingmanualProductConfig').get %}

{% if rankingmanual_products|length > 0 %}

{% if config.rankingmanual_product_show_type == 1 %}
{# ▼表示レイアウト：スライド #}

<style>
.plugin_rankingmanual {
	margin-bottom:30px;
}
.plugin_rankingmanual h3 {
	margin-top:0;
}
.plugin_rankingmanual .slick-slider {
	margin-top:0;
}
.plugin_rankingmanual .ec-shelfGrid.gallery_rankingmanual {
	margin:0 -10px;
}
.plugin_rankingmanual .ec-shelfGrid .ec-shelfGrid__item{
	padding: 0 10px;
}
.gallery_rankingmanual .slick-dots {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}
.gallery_rankingmanual .slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.gallery_rankingmanual .slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.gallery_rankingmanual .slick-dots li button:hover,
.gallery_rankingmanual .slick-dots li button:focus {
	outline: none;
}
.gallery_rankingmanual .slick-dots li button:hover:before,
.gallery_rankingmanual .slick-dots li button:focus:before {
	opacity: 1;
}
.gallery_rankingmanual .slick-dots li button:before {
	content: " ";
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 12px;
	text-align: center;
	opacity: .25;
	background-color: black;
	border-radius: 50%;
}
.gallery_rankingmanual .slick-dots li.slick-active button:before {
	opacity: .75;
	background-color: black;
}
.gallery_rankingmanual .slick-dots li button.thumbnail img {
	width: 0;
	height: 0;
}
.gallery_rankingmanual a {
	position:relative;
}
/* ランキング丸数字 */
.gallery_rankingmanual .ranking_number {
	position:absolute;
	top:8px;
	left:16px;
    line-height: 30px;
    width: 30px; height: 30px;
    font-size: 16px;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
	font-weight:bold;
	/*↓6位以下*/
    background: #525263;
    color: #fff;
}
.gallery_rankingmanual .ranking_number1 .ranking_number {
    background: #f7f7f7;
    color: #C00;
}
.gallery_rankingmanual .ranking_number2 .ranking_number {
    background: #f7f7f7;
    color: #C00;
}
.gallery_rankingmanual .ranking_number3 .ranking_number {
    background: #f7f7f7;
    color: #C00;
}
.gallery_rankingmanual .ranking_number4 .ranking_number {
    background: #f7f7f7;
    color: #36C;
}
.gallery_rankingmanual .ranking_number5 .ranking_number {
    background: #f7f7f7;
    color: #36C;
}
</style>
<!-- ▼item_list▼ -->
<div class="ec-shelfRole plugin_rankingmanual">
	{% if config.rankingmanual_product_title != "" %}
        <div class="ni-pageHeader">
            <h3>{{ config.rankingmanual_product_title }}</h3>
        </div>
    {% endif %}
    <ul class="ec-shelfGrid gallery_rankingmanual" style="display:none;">
        {% for RankingmanualProduct in rankingmanual_products %}
            <li class="ec-shelfGrid__item ranking_number{{loop.index}}">
                <a href="{{ url('product_detail', {'id': RankingmanualProduct.Product.id}) }}">
					<p>
                    <img src="{{ asset(RankingmanualProduct.Product.mainFileName|no_image_product, "save_image") }}">
					</p>
                    <dl>
                        {% if config.rankingmanual_product_disp_title == 1 %}
							<dt class="item_name">{{ RankingmanualProduct.Product.name }}</dt>
						{% endif %}
						{% if config.rankingmanual_product_disp_price == 1 %}
							<dd class="item_price">
								{% if RankingmanualProduct.Product.hasProductClass %}
									{% if RankingmanualProduct.Product.getPrice02Min == RankingmanualProduct.Product.getPrice02Max %}
										{{ RankingmanualProduct.Product.getPrice02IncTaxMin|price }}
									{% else %}
										{{ RankingmanualProduct.Product.getPrice02IncTaxMin|price }} ～ {{ RankingmanualProduct.Product.getPrice02IncTaxMax|price }}
									{% endif %}
								{% else %}
									{{ RankingmanualProduct.Product.getPrice02IncTaxMin|price }}
								{% endif %}
							</dd>
						{% endif %}
						{% if config.rankingmanual_product_disp_code == 1 %}
							<p>{{ RankingmanualProduct.Product.code_min }}{% if RankingmanualProduct.Product.code_min != RankingmanualProduct.Product.code_max %} ～ {{ RankingmanualProduct.Product.code_max }}{% endif %}</p>
						{% endif %}
						{% if config.rankingmanual_product_rankingmanual_comment == 1 %}
							{% if RankingmanualProduct.comment %}
								<p>{{ RankingmanualProduct.comment|raw|nl2br }}</p>
							{% endif %}
						{% endif %}
						{% if config.rankingmanual_product_disp_description_detail == 1 %}
							<p>{{ RankingmanualProduct.Product.description_detail|raw|nl2br }}</p>
						{% endif %}
                    </dl>
					<span class="ranking_number">{{loop.index}}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- ▲item_list▲ -->
<script>
$(function() {
	$('.gallery_rankingmanual').css('display', 'block');
    $('.gallery_rankingmanual').slick({
		infinite: true,
		dots:true,
		slidesToShow: 4,
		slidesToScroll: 4,
		arrows:false,
		autoplay:true,
		autoplaySpeed:5000,
		responsive: [{
			breakpoint: 768,
				settings: {
					arrows: false,
					slidesToShow: 3,
					slidesToScroll: 3,
				}
		},{
			breakpoint: 480,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 2,
				}
		}]
	});
});
</script>

{% elseif config.rankingmanual_product_show_type == 0 %}
{# ▼表示レイアウト：横並び #}

<style>
.plugin_rankingmanual h3 {
	margin-top:0;
}
@media only screen and (min-width: 768px){
	.plugin_rankingmanual .ec-shelfGrid .ec-shelfGrid__item {
		width: 25%; /* 列数指定：4列→25% 5列→20% */
	}
}
/* ランキング丸数字 */
.plugin_rankingmanual a {
	position:relative;
}
.plugin_rankingmanual .ranking_number {
	position:absolute;
	top:8px;
	left:16px;
    line-height: 30px;
    width: 30px; height: 30px;
    font-size: 16px;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
	font-weight:bold;
	/*↓6位以下*/
    background: #525263;
    color: #fff;
}
.plugin_rankingmanual .ranking_number1 .ranking_number {
    background: #f7f7f7;
    color: #C00;
}
.plugin_rankingmanual .ranking_number2 .ranking_number {
    background: #f7f7f7;
    color: #C00;
}
.plugin_rankingmanual .ranking_number3 .ranking_number {
    background: #f7f7f7;
    color: #C00;
}
.plugin_rankingmanual .ranking_number4 .ranking_number {
    background: #f7f7f7;
    color: #36C;
}
.plugin_rankingmanual .ranking_number5 .ranking_number {
    background: #f7f7f7;
    color: #36C;
}
</style>
<!-- ▼item_list▼ -->
<div class="ec-shelfRole plugin_rankingmanual">
	{% if config.rankingmanual_product_title != "" %}
        <div class="ni-pageHeader">
            <h3>{{ config.rankingmanual_product_title }}</h3>
        </div>
    {% endif %}
    <ul class="ec-shelfGrid">
        {% for RankingmanualProduct in rankingmanual_products %}
            <li class="ec-shelfGrid__item ranking_number{{loop.index}}">
                <a href="{{ url('product_detail', {'id': RankingmanualProduct.Product.id}) }}">
					<p>
                    <img src="{{ asset(RankingmanualProduct.Product.mainFileName|no_image_product, "save_image") }}">
					</p>
                    <dl>
                        {% if config.rankingmanual_product_disp_title == 1 %}
							<dt class="item_name">{{ RankingmanualProduct.Product.name }}</dt>
						{% endif %}
						{% if config.rankingmanual_product_disp_price == 1 %}
							<dd class="item_price">
								{% if RankingmanualProduct.Product.hasProductClass %}
									{% if RankingmanualProduct.Product.getPrice02Min == RankingmanualProduct.Product.getPrice02Max %}
										{{ RankingmanualProduct.Product.getPrice02IncTaxMin|price }}
									{% else %}
										{{ RankingmanualProduct.Product.getPrice02IncTaxMin|price }} ～ {{ RankingmanualProduct.Product.getPrice02IncTaxMax|price }}
									{% endif %}
								{% else %}
									{{ RankingmanualProduct.Product.getPrice02IncTaxMin|price }}
								{% endif %}
							</dd>
						{% endif %}
						{% if config.rankingmanual_product_disp_code == 1 %}
							<p>{{ RankingmanualProduct.Product.code_min }}{% if RankingmanualProduct.Product.code_min != RankingmanualProduct.Product.code_max %} ～ {{ RankingmanualProduct.Product.code_max }}{% endif %}</p>
						{% endif %}
						{% if config.rankingmanual_product_rankingmanual_comment == 1 %}
							{% if RankingmanualProduct.comment %}
								<p>{{ RankingmanualProduct.comment|raw|nl2br }}</p>
							{% endif %}
						{% endif %}
						{% if config.rankingmanual_product_disp_description_detail == 1 %}
							<p>{{ RankingmanualProduct.Product.description_detail|raw|nl2br }}</p>
						{% endif %}
                    </dl>
					<span class="ranking_number">{{loop.index}}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- ▲item_list▲ -->

{% endif %}
{% endif %}
